/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.col-xs-3 {
  border: solid 1px yellow;
  height: 40px;
  background-color: yellow;
  margin: 14px;
}

.yellow-blocks {
  margin-left: 12px;
  margin-bottom: 20px;
}
