<div class="text-center">
<h3>You're offically invited to</h3>
<h1><%= @event.name %></h1>
<h5><%= @event.location %></h5>
<h5><%= @event.start_time %> until <%= @event.end_time %></h5>
<p>RSVP</p>
</div>
