<h1 class = "text-center">Meet the team</h1>
<div class="team-members text-center">
  <div class="dom member" >
    <h4>Domingo Henry</h4>
    <img src="/assets/dom.jpg" alt="" class = "avatar-team">
    <div class= "about-bio">
      <p>Domingo was born and raised in a small town in Pennsylvania. Moving around and gaining experience in the business world, Dominic has managed local and corporate businesses until moving to Gainesville, Florida. Spending time as an active community member, planning multiple local events and working in the service industry, drove him to found NOBODY. </p>
    </div>
  </div>

  <div class= "clara member">
    <h4>Clara Leibinger</h4>
    <img src="/assets/clara.jpg" alt="" class="avatar-team">
  </div>
</div>
